.Accueil {
  flex-grow: 1;
  width: 95vw;
  margin: 2rem auto;

  .amorce {
    background-image: url(../assets/images/accueil.jpg);
    background-size: cover;
    background-position: 100% 60%;
    padding: 3rem;
    text-align: center;
    color: var(--clr-texte-secondaire);

    h1 {
      font-size: clamp(1.5rem, 4vw, 4rem);
      margin: auto;
    }

    h2 {
      font-size: clamp(1rem, 2vw, 2rem);
    }
  }

  .principal {
    margin: 1rem auto;
    width: 90vw;
  }
}

